<style>

.contacto{
position: absolute;
bottom: 20px;
right: 10px;
text-decoration: none;
font-size: 18px;
color: white;
}

.correolista{
list-style: none;
padding: 0;
margin-left: 40px;
}

.contacto-lista li{
margin-bottom: 12px;
}

.contacto-lista a{
    text-decoration: none;
    color: #4a00e0;
    font-weight: bold;
}

.integrantes{
list-style: none;
}

.inicio{
display: inline-block;
margin: 20px 0;
text-decoration: none;
color: red;
font-weight: bold;
}
	
div.contenedor{
width: 100%;
max-width: 900px;
margin: 40px auto;
border: 1px solid #ccc;
background-color: white;
position: relative;
}

body{
font-family: Arial, sans-serif;
background-color: #f2f2f2;
margin: 0;
padding: 0;
}

section{
max-width: 600px;
margin: 40px auto;
margin-left: 270px;
padding: 1.5em;
}

header, footer{
padding: 1em;
color: white;
background-color: black;
text-align: center;
clear: both;
}

footer{
display: flex;
justify-content: space-between;
align-items: center;
padding: 1em 2em;
font-weight: bold;
}

nav{
float: left;
width: 250px;
padding:  1.5em 1em;
background-color: #f9f9f9;
}

nav ul{
list-style-type: none;
padding: 0;
margin: 0;
}

nav ul li{
margin-bottom: 15px;
}

nav ul li a{
    display: block;
    padding: 12px 15px;
    background-color: white;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

h1 { font-size: 2.5em; 
text-align: center;
margin: 20px 0;
color: #4a00e0;
text-transform: uppercase;
letter-spacing: 2px; 
} 

header h1{
color: white;
}

h2 { 
font-size: 1.8em; 
margin: 25px 0 15px; 
margin-left: 40px;
color: #333;  
border-bottom: 2px solid #ccc;
padding-bottom: 5px; 
}

.info{
padding: 15px 18px;
font-size: 20px;
}

.imagenes {
  display: flex;         
  justify-content: center;   
  gap: 20px;        
  margin: 20px 0;             
}

.imagenes img {
  border: 1px solid #ccc;     
  border-radius: 5px;       
}

.imagen-descarga {
  width: 120px;  
  height: auto;   
  display: block;
  margin: 0px auto; 
}

</style>

</head>
